$blue: #290AC8;
$navyblue: #19067C;
$white:#ffffff;
$black:#000;

:root {
    --blue: #{$blue};
    --white: #{$white};
    --black:#{$black};
    --navyblue:#{$navyblue};
    --heroPositionX:0;
    --heroPositionY:0;
  }

  